.loginPageContainer {
  position: relative;
  background-image: url('../../public/BackgroundPhotos/LoginPageBackgound.jpeg');
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

/* H1 Title on the left of the registration page START */
.titlesContainer{
  width: fit-content;
  text-align: center;
}

.loginFormContainer {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.welcomeBackTitle{
  color: hsl(218, 81%, 95%);
  font-family: Comic Sans MS;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.farmersMarketTitle{
  color: hsl(110, 80%, 56%) !important;
  font-family: Comic Sans MS;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}


/* P Small title on the left of the registration page START */
.smallTitleContainer{
  font-family: Comic Sans MS;
  font-size: 35px; 
  text-align: center
}

.smallTitleWhite{
  color: hsl(218, 81%, 95%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.SmallTitleRed{
  color: hsl(6, 98%, 50%);
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255)
}
/* P Small title on the left of the registration page END */



.loginCardContainer {

}




