.product_container {
  width: 100%;
  max-width: 1200px;
  min-height: 450px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  row-gap: 20px;
  padding: 16px;
  justify-content: center;
}

.productBox {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 10px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  max-height: 350px;
}

.productBox:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px;
  transform: translateY(-3px);
}

.product_img {
  width: 100%;
  max-height: 180px;
  max-width: 180px;
}

.content {
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.title {
  width: 100%;
  margin-top: 10px;
}

.price {
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.price span {
  font-size: 15px;
}

.products_button {
  width: 100%;
  height: 35px;
  line-height: 35px;
  display: block;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy_button {
  background-color: rgb(116, 108, 92);
}

.add_button {
  background-color: #ffaa00;
}

.buy_button:hover {
  background-color: rgba(116, 108, 92, 0.807);
}

.add_button:hover {
  background-color: #ff8000;
}

.buy_button_outOfStock {
}

.buy_icon {
  font-size: 18px;
}
